* {
  margin: 0;
  padding: 0;


}

.logo {
  
    display: flex;
    align-items: center;
    justify-content: center ;
    width: 700px;

}


.logo h2 {

    margin-right: 200px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    width: 400px;
    
    
    

    
}


.logo img {
    height: 80px;
    margin-left: 30px;
    
}


.menu {
    background-color: rgb(247, 202, 247);
    display: flex;
    padding-left: 30px;
    justify-content: space-between;
    align-items: center;
    
   
    
    
    
    

}








.tipografia { 

font-size: 20px;
margin-right: 400px;
}

/* se saco la decoracion de los link, se aumento el tamaño de la letra y se dejo en mayusculas. Tambien
se le agrego un cursor en el momento en el que mouse esté sobre el cursor */
a{
   
 text-decoration: none;
 color: black;
 font-weight: 900;
 text-transform: uppercase;
 cursor: pointer;

}

.hero {
   background-color:  rgb(247, 202, 247);
   height: 80vh;
   display: flex;
   justify-content: space-around;
   align-items: center;
   


}

img  {

width: 250px;




}

/* Se utilizo la etiqueta figure para almacenar una imagen en su interior, la cual se estuvo
haciendo cambios en las imagenes como agregando un borde y luego redondear sus esquina.
También se establecio el ancho del elemento y agregando margenes que establecen el espacio
entre los elementos. Tambien un padding que establece el espacio entre el elemento y el borde */

.logotipo {

    border: 1px solid #800080;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}




.tamaño {
  text-align: center;


}

.margenes {
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 40px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;


}




.descripcion h1 {
  
font-size: 40px;
margin-bottom: 20px;


}

button {
    background-color: rgb(230, 26, 230);
    cursor: pointer;
    display: flex;
    padding: 16px 10px;
    border: none;
    font-size: 18px;
    color: rgb(253, 247, 247);
    position: relative;
    font-weight: 900;
    border-radius: 12px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.link {

    text-decoration: none;
    color: white;



}

/* modificacion especial del boton cuando lo tocas sobre ella haya una transicion en 5 segundos */
button :hover {
    color: black;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}



/*se hizo cambios en la segunda seccion con una altura del 40 por ciento. Se uso margenes tambien*/


.cambios {
     height: 40vh;
     margin-top: 20px;
     margin-left: 80px;
     margin-right: 80px;
     margin-bottom: 20px;
     display: flex;
     flex-direction: column;
}


h2 {
 margin-bottom: 40px;


}

p {

margin-bottom: 20px;

}

.container {
    width: 300px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    



.conjunto {
display: flex;
justify-content: space-around;
align-items: center;
padding-bottom: 40px;
}



.card {
   color: white;
   border: 1px solid rgb(253, 247, 247);
   border-radius: 6px;
   overflow: hidden;
   background: violet;
   box-shadow: 0px  1px  10px  rgb(230, 26, 230);
   cursor: default;
   transition: all 400ms ease;
   padding-left: 20px;
   padding-top: 20px;
   padding-right: 20px;
   padding-bottom: 20px;
}


/*se hizo un efecto visual sobre las figuras o tarjetas cuando se coloque el cursor por
encima de ellas. Se tralado verticalmente, la cual cuando  se pase el cursor por encima 
de las tarjetas se traslada a 3% hacia arriba */
.card:hover {

    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    translate: translateY(-3%);


}

/*se uso una clase para modificar la ultima seccion agregando otro color de fondo distinnto a las demas*/
.color {
background-color:rgb(197, 13, 197);


}

/*Se uso un class para hacer pequeñas modificaciones en el titulo secundario de "conocimiento"*/

.titulosecundario {

color: white;
padding-top: 40px;
padding-left: 80px;


}

/*Se uso un class para hacer pequeñas modificaciones en el titulo secundario de "conocimiento"*/
.titulosecundario2  {

    padding-top: 40px;
    padding-left: 80px;


}



/*se definio las flechas con una transicion entre dos estados de los elementos durando 5 segundos
la transicion.*/
.left,
.right {


width: 30px;
height: 30px;
transition: 0.5s; 
float: left;
box-shadow: -2px  2px  0  rgba(255, 255, 255,.5 );
cursor: pointer;


}


/*Se aplico una rotacion de 45 grados al elemento, girando 45 grados alrededor de su elemento*/
.left {
    transform: rotate(45deg);

}

/*Se aplico una rotacion de 225 grados al elemento*/
.right {
transform: rotate(225deg);

}

.left :hover,
.right :hover {
    box-shadow: -2px  2px  0  rgba(255, 255, 255, 1 );
    
}



footer {

background-color: #750575;
height: 40vh;
padding-left: 60px;
padding-top: 40px;







}

.consulta {
 color: white;


}

 i {
 
    font-size: 30px;


}


.bi.bi-behance {

    color: white;
    background-color: #053EFF;
    border-radius: 6px;
    width: 30px;
    transition: opacity 0.3s ease-in-out;

}

 

.gmail {

    width: 30px;
    border: 1px solid white;
    background-color: white;
    border-radius: 6px;
    transition: opacity 0.3s ease-in-out;


}

.instagram {

    width: 30px;
    border-radius: 6px;
    transition: opacity 0.3s ease-in-out;

}

.linkedin {

    width: 30px;
    border-radius: 6px;
    transition: opacity 0.3s ease-in-out;
}

.iconos {

    
    padding-top: 30px;
    
    display: flex;

    align-items: center;

    gap: 40px;
    



}


/*Se agrego en todos los iconos o imagenes una opacidad del 50%, es decir sera parcialmente
transparente al momento de tocar con el cursor los logos*/



.gmail:hover {

    opacity: 0.5; 
}

.instagram:hover {
 
    opacity: 0.5;
}




.bi.bi-behance:hover {

opacity: 0.5;
 
}

.linkedin:hover {

opacity: 0.5;
}

.parrafo {

    padding-top: 70px;


}

